{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Mi carrito</h2>
  {% if items %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.producto.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>Q{{ item.subtotal }}</td>
            <td>
              <a href="{% url 'carrito:eliminar' item.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h4>Total: Q{{ total }}</h4>
    <a href="{% url 'carrito:vaciar' %}" class="btn btn-secondary">Vaciar carrito</a>
    <div class="text-end mt-3">
    <a href="{% url 'pagos:checkout' %}" class="btn btn-primary btn-lg shadow-sm">
      <i class="bi bi-bag-check-fill"></i> Ir al Checkout
    </a>
  </div>

  {% else %}
    <p>No hay productos en tu carrito.</p>
  {% endif %}
</div>
{% endblock %}
